<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@(ViewBag.Title)</title>
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="~/Contents/css/animate.css" rel="stylesheet" />
    <link href="~/Contents/css/style.css" rel="stylesheet" />
</head>
<body class="gray-bg">
    @RenderBody();
</body>
</html>
